= render partial: 'partials/dashboard/navbar'

%table
  %tr
    %td
      Course Name
    %td
      Grade
  - @course_grades.each do |course|
    %tr
      %td
        = course.name
      %td
        = course.grade

%table
  %tr
    %td
      Semester
    %td
      GPA
  - @semester_gpa.each do |grades|
    %tr
      %td
        = grades.semester
      %td
        = "GPA: #{grades.gpa.ceil}"